/*inputs*/

//navbar input
.navbar__input {
    font-family: $georama;
    font-weight: $light;
    border: none;
    width: 10em;
}

//newsletter input
.newsletter__input {
    input {
        font-family: $georama;
        font-weight: $bold;
        border: none;
    }
    .newsletter__input-submit {
        background-color: $cian-soft;
        color: $gray;
        &:hover {
            color: $white;
        }
    }
    .newsletter__input-box {
        width: 15em;
        font-weight: $light;
    }
}