/*reset*/

//all body reset margin padding
body {
    margin: 0;
    padding: 0;
}

//a tag reset text decoration
a {
    text-decoration: none;
}

//ul tag reset text decoration
ul {
    text-decoration: none;
}