/*variables*/


/*color Scheme*/

//first color Scheme
$white: #f2f2f2;
$gray: #5f6366;
$smoky-black: #0C0910;
//second color Scheme
$blue-soft: #4d6d9a;
$violet-soft: #86b3d1;
$cian-soft: #99ced3;
$pink-soft: #edb5bf;

/*typography*/

//font family
$georama: 'Georama',
sans-serif;
//font weigth 
$light: 300;
$bold: 600;

/*breakpoint*/

//breakpoints
$breakpoints: ('x-small': (min-width: 360px), 'small': (min-width: 576px), 'medium': (min-width: 768px), 'large': (min-width: 992px), 'huge': (min-width: 1200px), );