/*navbar*/

//navbar
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    background-color: $violet-soft;
}

//navbar brand
.navbar__brand {
    a {
        text-decoration: none;
        color: $smoky-black;
    }
}

//navbar list
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

//navbar item{
.navbar__item {
    a {
        display: none;
        text-align: left;
        padding: 0.5em;
        padding: 10px;
        text-decoration: none;
        font-family: $georama;
        font-weight: $bold;
        color: $white;
    }
}

//media hide links display sm
@include respond-to('small') {
    .navbar__item {
        a {
            display: block;
        }
    }
}